*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* should change later login register */
.vcss-container {
    width: 100%;
    height: 100vh;
}
.login-title{
    text-align: center;
    margin: auto;
    margin-top: 10%;
    color: #DFDFDF;
}
.vcss-form{
    width: 30vw;
    height: auto;
    margin: 10% auto;
    padding: 10px;
    background-color: #EBEBEB;
}
/* ------------------------ */
.vcss-main-div{
    width: 85%;
    height: 100vh;
    float: right;
}
.vcss-header, .vcss-footer{
    width: 100%;
    height: 10vh;
    padding: 10px;
    text-align: center;
    background-color: #49BB5B;
}
.f-text, .h-header, .s-main-nav{
    /* color: #E6E6E6; */
    color: #DFDFDF;
}
.vcss-sidebar{
    width: 15%;
    height: 100vh;
    float: left;
    background-color: #3C3C3C;
}
.vcss-section{
    width: 100%;
    height: 80vh;
    padding: 15px;
}
.vcss-div{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: auto;
    /* border: 1px solid black; */
}
.s-main-nav, .s-links{
    margin-left: 5px;
    padding: 10px;
}
.s-links{
    display: block;
    color: #DFDFDF;
    text-decoration: none;
}
.s-button{
    width: 100%;
    padding: 10px;
    border: none;
    text-align: left;
    color: #DFDFDF;
    background-color: #3C3C3C;
}
.s-icons{
    width: 30px;
    height: 30px;
    filter: invert(100%);
}
.action-icons{
    width: 20px;
    height: 20px;
}
.s-button img{
    margin-left: 5px;
}
.s-links:hover{
    color: #A5A5A5;
    text-decoration: none;
}
.s-li:hover{
    background-color: #4B4B4B;
}
.s-links:hover .s-icons{
    filter: invert(60%) !important;
}

.s-form:hover .s-icons{
    filter: invert(60%) !important;
}
.s-button:hover{
    color: #A5A5A5;
    background-color: #4B4B4B;
}
.vcss-btn{
    color: #DFDFDF;
}
.btn-prime{
    background-color: #00A2D0;
}
.btn-del{
    background-color: red;
}
.btn-back{
    background-color: #6E6E6E;
}
.td-action{
    display: flex;
    justify-content: center;
}
.brand-edit-wrapper, .category-edit-wrapper{
    width: 30%;
    margin: 100px auto;
}
.user-edit-wrapper, .product-edit-wrapper, .supplier-edit-wrapper, .customer-edit-wrapper{
    width: 60%;
    height: 100%;
    margin: auto;
}
.ord-wrapper{
    width:100%;
    height: 100%;
    margin: auto;
    background-color: #EBEBEB;
}
.mid-size{
    width: 80%;
}
.td-qty{
    width: 20%;
}
.ord-cus-div{
    width: 40%;
    height: 100%;
    margin-bottom: 100px;
    overflow-y: scroll;
}
.ord-prod-div{
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    overflow-y: scroll;
}
.form-scroll{
    width: 100%;
    height: 80%;
    margin: 0 auto;
    overflow-y: scroll;
}
.form-group{
    height: 100px;
    margin: auto;
}
.ord-input{
    width: 50%;
}
.dash{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.card{
    width: 300px;
    padding: 5px;
    height: auto;
}
.dash-icons{
    width: 300px;
    height: 150px;
}
.user-name{
    color: #DFDFDF;
}
.top-bar{
    display: flex;
    justify-content: space-between;
}
.profile-wrapper{
    width: 30%;
    margin: auto;
    padding: 20px;
}